.Contact {
	width: 100%;
	min-height: 600px;
	padding: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	justify-content: flex-start;

	h2 {
		margin-bottom: 70px;
		font-family: 'Roboto';
		font-size: 50px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 23px;
		padding-right: 15px;
		color: white;
		transition: 0.3s ease-in-out;

		span {
			font-family: 'Inconsolata';
			font-size: 17px;
			color: #64ffda;
			margin-bottom: 20px;
		}
	}

	p {
		width: 550px;
		margin-top: 0px;
		text-align: center;
		margin-top: -8px;
		font-family: 'Inconsolata';
		font-size: 22px;
		transition: 0.3s ease-in-out;
	}

	svg {
		margin: 0px;
		padding: 0px;
		width: 63%;
	}

	.email-button {
		margin-top: 50px;
		transition: 0.25s;
	}

	a {
		background-color: #64ffda;
		position: relative;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		transition: 0.25s;
		box-shadow: 0 0 15px #ff3e5425;

		&:hover {
			background: #0b1429;
			box-shadow: 0 0 15px rgba(0, 56, 139, 0.192);

			.st0 {
				fill: #64ffda;
			}
		}
	}

	.st0 {
		fill: black;
		transition: 0.25s;
	}
}

@media only screen and (max-width: 730px) {
	.Contact {
		min-height: 520px;

		p {
			font-size: 18px;
			width: 400px;
		}

		h2 {
			font-size: 40px;
		}

		a {
			background-color: #0b1429;
			position: relative;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			transition: 0.25s;
			box-shadow: 0 0 15px #ff3e5425;

			&:hover {
				background: #64ffda;
				box-shadow: 0 0 15px rgba(0, 56, 139, 0.192);

				.st0 {
					fill: #0b1429;
				}
			}
		}
		.st0 {
			fill: #64ffda;
			transition: 0.25s;
		}
	}
}

@media only screen and (max-width: 550px) {
	.Contact {
		p {
			font-size: 18px;
			width: 400px;
		}

		h2 {
			font-size: 40px;
		}
	}
}

@media only screen and (max-width: 430px) {
	.Contact {
		min-height: 440px;
		p {
			font-size: 16px;
			width: 320px;
		}

		h2 {
			font-size: 36px;

			span {
				font-family: 'Inconsolata';
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}
}
