.Socials {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;
	right: 70px;

	a {
		height: 22px;
		width: 22px;
		margin-bottom: 23px;
	}
}

.stripe {
	background: #cecece;
	width: 1px;
	height: 120px;
	margin-top: 15px;
}

svg {
	margin-bottom: 30px;
	width: 22px;
	height: 22px;
	fill: rgba(255, 255, 255, 0.555);
	transition: 0.2s;
	position: relative;

	&:hover {
		fill: #fe3e55;
	}
}

@media only screen and (max-width: 1050px) {
	.Socials {
		right: 40px;
	}
}

@media only screen and (max-width: 730px) {
	.Socials {
		position: static;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		border-top: solid 1px #fe3e55;

		a {
			height: 26px;
			width: 26px;
			margin: 35px 25px;
		}
	}

	.stripe {
		background: #cecece00;
		width: 0px;
		height: 0px;
		margin-top: 0px;
	}

	svg {
		margin-bottom: 30px;
		width: 22px;
		height: 22px;
		fill: rgba(255, 255, 255, 0.555);
		transition: 0.15s ease-in-out;
		position: relative;

		&:hover {
			fill: #fe3e55;
		}
	}
}
