.Footer {
	background: rgb(6, 14, 31);
	width: 100%;
	position: absolute;
	left: 0;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;

	p {
		font-family: 'Inconsolata';
		font-size: 15px;
		color: rgba(212, 236, 255, 0.726);
		margin-top: 10px;
		display: flex;
		align-items: center;
		opacity: 1;
		padding: 8px 15px;
		border-radius: 1px;

		span {
			width: 52px;
			padding: 0 3px;
			font-size: 11px;
			color: #64ffda;
			line-height: 1.5;
			letter-spacing: 3px;
			margin-left: 8px;
		}
	}
}

@media only screen and (max-width: 1050px) {
	.Footer {
		height: 90px;
	}
}

@media only screen and (max-width: 730px) {
	.Footer {
		height: 130px;

		p {
			margin-top: 60px;

			span {
				font-size: 12px;
				letter-spacing: 2px;
				width: fit-content;
				border: none;
				margin-left: 6px;
			}
		}
	}
}
