.Footer {
	background: rgb(6, 14, 31);
	width: 100%;
	position: absolute;
	left: 0;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;

	a {
		color: #64ffdb85;
		text-decoration: none;
		transition: 0.2s;

		&:hover {
			color: rgba(255, 47, 82, 0.685);
		}
	}

	p {
		font-family: 'Inconsolata';
		font-size: 15px;
		color: rgb(89, 113, 150);
		margin-top: 10px;
		opacity: 1;
		padding: 8px 15px;
		border-radius: 1px;
	}
}

@media only screen and (max-width: 1050px) {
	.Footer {
		height: 90px;
	}
}

@media only screen and (max-width: 730px) {
	.Footer {
		height: 130px;

		p {
			margin-top: 60px;
		}
	}
}
