.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  font-weight: 600;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.title-section {
  margin: auto;
  background: linear-gradient(to right bottom, #3B62EF, #252B97);
  width: 100%;
  padding: 45px 200px 55px;
  -moz-box-shadow:    inset 0 0 10px #00000064;
  -webkit-box-shadow: inset 0 0 10px #00000000;
  box-shadow:         inset 0 0 10px #0000003a;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  margin-bottom: 10px;
}

.description-title {
  margin-top: 30px;
  width: 64%;
}

.sub-header-title {
  color: rgba(159, 249, 255, 0.651);
}

.contact-button {
  border: 2px solid rgba(0, 255, 251, 0.822);
  color: rgb(116, 253, 255);
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer; 
  padding: 10px 32px;
  background: rgba(0, 0, 0, 0.084);
  margin-top: 50px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.242);
  transition: .2s;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
    background: rgba(186, 186, 186, 0.075);
    transition: .2s;
  }

  &:active {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.295);
    background: rgba(186, 186, 186, 0.205);
    transition: .2s;
  }
}