.navigation-ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
  padding: 10px 0;
  width: 83%;

  li {
    list-style: none;
    cursor: pointer;
    margin: 20px 0 20px 50px;
    font-size: 18px;
    font-weight: 500;
    transition: .15s;
    padding-bottom: 3px;
    color: rgb(41, 41, 41);
    border-bottom: 2px solid rgba(65, 132, 255, 0);

    &:hover {
      color: rgb(19, 93, 255);
      transition: .15s;
    }
  }
}