.Socials {
	position: fixed;
	bottom: 0;
	left: 70px;
}

.stripe {
	background: #cecece;
	width: 1px;
	height: 160px;
	margin-left: 20px;
}

.st0 {
	fill: rgba(255, 255, 255, 0.555);
}

svg {
	margin-left: 5px;
	margin-bottom: 20px;
	width: 32px;
	height: 32px;
}
