.Footer {
	background: rgb(6, 14, 31);
	width: 100%;
	position: absolute;
	left: 0;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

	p {
		font-family: 'Inconsolata';
		font-size: 14px;
		color: rgba(212, 236, 255, 0.726);
		margin-top: 10px;
	}
}

@media only screen and (max-width: 730px) {
	.Footer {
		height: 130px;

		p {
			margin-top: 60px;
		}
	}
}
